version: '3.7'

services:
  postgres_db:
    image: postgres:15
    hostname: postgres_db
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: 'db'     # Akan menjadi 'db'
      POSTGRES_PASSWORD: 'dbtest'  # Akan menjadi 'dbtest'
      POSTGRES_DB: 'nesttest'
    ports:
      - '5444:5432'
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U db -d nesttest"]
      interval: 5s
      timeout: 2s
      retries: 20

  server:
    build: 
      context: .  
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    stdin_open: true
    tty: true  
    depends_on:
      postgres_db:
        condition: service_healthy
    env_file:
      - ./.env
    environment:
      DATABASE_URL: 'postgresql://db:dbtest@postgres_db:5432/nesttest?schema=public'
    networks:
      - prisma-network
networks:
  prisma-network:
    name: prisma-network